* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.mainContainer{
  display: flex;
  align-content: center;
}

.mainContainerBottom{

  display: flex;
  justify-content: right;
    
}